{% extends "base.html" %}

{% block content %}

<h2>Question #1</h2>
<div class="well">
    <form class="question"> 
        <fieldset>
            <legend>{{ question.question }}</legend>
            {% for answer in answers %}
                <label class="radio"><input type="radio" name="answer" value="{{ answer.id }}"/> {{ answer.answer }}</label>
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>

{% endblock %}
