{% extends "base.html" %}

{% block content %}

    <h1>Login</h1>

    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action="" method="post" class="form-horizontal">
       
        <div class="control-group">
            <label class="control-label" for="username">User name:</label>
            <div class="controls">
                <input type="text" name="username" value="" id="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                <input type="password" name="password" value="" id="password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="login" class="btn" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="/accounts/register">Register for an account</a>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next|escape }}" />
        {% csrf_token %}
    </form>

{% endblock %}
