{% extends "quiz/contribute/base.html" %}

{% load crispy_forms_tags %}

{% block tab_content %}

    <form class="form-horizontal" method="post">
        <div class="alert">Create a question below. Try to be clear and concise.</div>

        {% crispy question_form question_form.helper %}

        <div style="margin: 10px; border: 1px solid #ccc; padding: 10px" id="questionPreview"><em style="color: #ccc">Question preview appears here</em></div>

        <div class="alert">Enter at least two and up to 4 answers. Make sure to mark one correct.</div>

        {% crispy answer_formset answer_formset.form.helper %}

    </form>

{% endblock %}
