{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

    <h1>Create Question</h1>

    <form action="" method="post" class="form-horizontal">

        <div class="control-group required{% if form.topic.errors %} error{% endif %}">
            <label class="control-label" for="id_topic">Topic</label>
            <div class="controls">
                {{ form.topic }}
                {% if form.topic.errors %}<p class="help-block">{% for error in form.topic.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </div>
        </div>

        <div class="control-group required{% if form.question.errors %} error{% endif %}">
            <label class="control-label" for="id_question">Question</label>
            <div class="controls">
                {{ form.question }}
                {% if form.question.errors %}<p class="help-block">{% for error in form.question.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </div>
        </div>

        {{ formset.management_form }}
        {% for form in answer_formset %}
            {{ form|as_bootstrap }}
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Next: Add Answers" class="btn"/>
    </form>

{% endblock %}
